<ion-view view-title="Select Category">
    <ion-content>
        <div>
            <div>
                <span ng-bind="selectCategory.category.text"></span>
                <br>
                <button class="button button-block button-positive" ng-click="selectCategory.yes()">Yes</button>
                <button class="button button-block button-positive" ng-click="selectCategory.no()">No</button>
                <button class="button button-block button-positive" ng-click="selectCategory.yes()">I Don't Know</button>
            </div>
            
        </div>
    </ion-content>
</ion-view>